@use '../base/variables';

body {
    color: variables.$body-text-color;
    background: variables.$main-bg-color;
    font-family: variables.$font-family-base;
}

hr {
    border-top: 1px solid black;
    border-bottom: 0px;
}

main {
    margin: 0 auto;
    width: 100%;
    padding-top: 5rem;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: 1rem 1rem;
    background-color: variables.$secondary-bg-color;
    border-radius: 0.6rem;
}

.alert-danger {
    color: rgb(238, 116, 116);
}

@media only screen and (min-width: 600px) {
    .container {
        width: 80%;
    }
} 

@media only screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }

    main {
        padding-top: 8rem;
    }   
}   