//Main background colors
$main-bg-color: rgb(13, 27, 42);
$secondary-bg-color: rgb(27, 38, 59);
$tertiary-bg-color: rgb(65, 90, 119);

//Body Font
$font-family-base : Roboto, sans-serif;

//Font Size
$font-size-base: 62.5%;

// Color Links
$link-color: rgb(246, 128, 191);

//Body Text Color
$body-text-color: rgb(255, 255, 255);

//@use '../base/variables';