@use '../base/variables';

#anime-list {

    #anime-list-page {
        align-content: center;
    }


    center {
        margin: 0 auto;
        width: 100%;
    }

    .list-cover {
    width: 215px;
    height: 300px;
    }

    caption {
    font-size: 2rem;
    }


}