@use '../base/variables';

.anime-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:  2rem;

    img {
        width: 30rem;
        height: auto;   
        border-radius: 2rem;
    }

    article {
        background-color: variables.$tertiary-bg-color;
        padding: 2rem;
        border-radius: 2rem;
        width: 90%;
    }

    table {
        text-align: center;

        th {
            border: 1px solid variables.$tertiary-bg-color;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 600px) {
    .anime-infos 
    article, table {
        width: 75%;
    }
} 

@media only screen and (min-width: 1200px) {
    .anime-infos 
    table {
        width: 50%;
    }
}