@use '../base/variables';

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    table {
        width: 90%;
        margin: 0 auto;
    }
}

.anime-index {

    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .anime-index {

        th:nth-child(4),
        td:nth-child(4) {
            display: table-cell;
        }
    }
}

@media screen and (min-width: 1200px) {
    .anime-index {

        th:nth-child(1),
        td:nth-child(1),
        th:nth-child(3),
        td:nth-child(3) {
            display: table-cell;
        }
    }

}
