@use 'base/base';
@use 'base/typography';
@use 'base/reset';
@use 'base/variables';

@use 'components/button';
@use 'components/form';
@use 'components/nav';
@use 'components/scrollbar';
@use 'components/table';

@use'pages/anime';
@use'pages/animeList';
@use'pages/animes';
@use'pages/dashboard';
@use'pages/home';
@use'pages/indexes';
@use'pages/login';

