@use '../base/variables';

.button {
	box-shadow: inset 0px 1px 0px 0px variables.$secondary-bg-color;
	background-color: variables.$link-color;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: variables.$body-text-color;
	font-size: 1.6rem;
	padding: 9px 49px;
	text-decoration: none;
}

.button:hover {
	filter: brightness(110%);
}

.button:active {
	position: relative;
	top: 1px;
}