@use '../base/variables';

.button {
	background-image: linear-gradient(to right, #EECDA3 0%, variables.$link-color  51%, #EECDA3  100%);
	padding: 1rem 1rem;
	margin: 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 1rem #eee;
	border-radius: 1rem;
	display: block;
	width : 20rem;
	
	&:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
	}
        
	&:active {
	position: relative;
	top: 1px;
	}
}