@use '../base/variables';
@use '../base/mixins';

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    input {
        @include mixins.form; 
        height: 5rem;
    }

    textarea {
        @include mixins.form; 
        height: 25rem;
    }

    select {
        @include mixins.form; 
        height: 5rem;
    }

}



