@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  color: rgb(255, 255, 255);
  background: rgb(13, 27, 42);
  font-family: Roboto, sans-serif;
}

hr {
  border-top: 1px solid black;
  border-bottom: 0px;
}

main {
  margin: 0 auto;
  width: 100%;
  padding-top: 5rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  padding: 1rem 1rem;
  background-color: rgb(27, 38, 59);
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.alert-danger {
  color: rgb(238, 116, 116);
}

.pad-top {
  padding-top: 30vh;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 50%;
  }
  main {
    padding-top: 8rem;
  }
}
/* 16 * 62.5 = 1.000 */
html {
  font-size: 62.5%;
  font-weight: 300;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  color: rgb(246, 128, 191);
  font-size: 1.6rem;
}

a:hover {
  opacity: 0.8;
}

p {
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.6rem;
}

body {
  font-family: Roboto, sans-serif;
}

th, td, span, li {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

button {
  border: none;
}

.button {
  background-image: linear-gradient(to right, #EECDA3 0%, rgb(246, 128, 191) 51%, #EECDA3 100%);
  padding: 1rem 1rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1rem #eee;
  border-radius: 1rem;
  display: block;
  width: 20rem;
}
.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form input {
  width: 80%;
  border: 1px solid rgb(27, 38, 59);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 5rem;
}
form textarea {
  width: 80%;
  border: 1px solid rgb(27, 38, 59);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 25rem;
}
form select {
  width: 80%;
  border: 1px solid rgb(27, 38, 59);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 5rem;
}
form h1 {
  margin-bottom: 3rem;
}

@keyframes bouncing {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-45px);
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
}
#main-nav {
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
}

#nav-logo {
  display: none;
  width: 50px;
  height: auto;
}

#main-nav,
#main-nav ul,
i {
  background-color: rgb(27, 38, 59);
}

#main-nav i {
  position: absolute;
  font-size: 5rem;
  z-index: 1;
  right: 0.2em;
  top: 0.2em;
  color: #5693e2;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.white-shadow {
  -webkit-box-shadow: 0px 0px 4px -1px rgb(133, 131, 131);
  box-shadow: 0px 0px 4px -1px rgb(133, 131, 131);
}

#main-nav i:hover,
#main-nav i:focus {
  cursor: pointer;
}

#main-nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  display: block;
  margin-bottom: 0.3em;
  position: relative;
}

#main-nav ul li a:hover {
  filter: brightness(80%);
}

#main-nav ul li a::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 5%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
  transform: scaleX(0);
}

#main-nav ul li a:hover::after,
#main-nav ul li a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main-nav ul {
  list-style-type: none;
  padding-bottom: 1em;
  position: absolute;
  top: -100vh;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-nav ul.display {
  left: 0;
  top: 0;
  padding-top: 1em;
  gap: 1.2em;
  transition: all 0.5s;
  animation: bouncing 1s ease-in-out;
}

/* @media only screen and (min-width: 600px) {

} */
@media only screen and (min-width: 1200px) {
  #main-nav {
    display: flex;
    height: 5%;
    opacity: 0.7;
  }
  #nav-logo:nth-child(1) {
    margin-right: 80vh;
  }
  #nav-logo {
    display: block;
  }
  #main-nav ul {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin: 0;
  }
  #main-nav ul li a,
#main-nav ul a {
    font-size: 2rem;
    padding-top: 1rem;
  }
  #main-nav i {
    display: none;
  }
  #main-nav ul.display,
#main-nav ul {
    padding: 0;
  }
}
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(13, 27, 42) rgb(27, 38, 59);
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: rgb(13, 27, 42);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(27, 38, 59);
  border-radius: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgb(13, 27, 42);
  margin-bottom: 2rem;
  font-size: 1.4rem;
  background-color: rgb(13, 27, 42);
}
table th {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid rgb(65, 90, 119);
}
table td {
  padding: 1rem;
  border: 1px solid rgb(65, 90, 119);
}

.anime-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
.anime-infos img {
  width: 30rem;
  height: auto;
  border-radius: 2rem;
}
.anime-infos article {
  background-color: rgb(65, 90, 119);
  padding: 2rem;
  border-radius: 2rem;
  width: 90%;
}
.anime-infos table {
  text-align: center;
}
.anime-infos table th {
  border: 1px solid rgb(65, 90, 119);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .anime-infos article,
table {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .anime-infos table {
    width: 50%;
  }
}
#anime-list-page {
  margin: 2rem auto;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#anime-list-page #username {
  font-size: 3.2rem;
}
#anime-list-page table {
  margin: 0 auto;
}
#anime-list-page .list-cover {
  width: 10rem;
  height: 14rem;
}
#anime-list-page .list-cover:hover {
  transform: scale(1.5);
}

.anime-page {
  margin: 0 auto;
  width: 95%;
}

.anime-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.anime-card {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  margin: 0.8rem;
}
.anime-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: rgb(246, 128, 191);
}
.anime-card a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  max-width: 150px;
}
.anime-card img {
  height: 210px;
  width: 150px;
  border-radius: 1rem;
}

#h-anime {
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#home-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  padding: 5rem 0;
  align-items: center;
}
#home-page h2 {
  max-width: 70%;
}
#home-page h2 {
  max-width: 80%;
}
#home-page a {
  font-size: 2.4rem;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.index table {
  width: 90%;
  margin: 0 auto;
}

.anime-index th:nth-child(1),
.anime-index td:nth-child(1),
.anime-index th:nth-child(3),
.anime-index td:nth-child(3),
.anime-index th:nth-child(4),
.anime-index td:nth-child(4) {
  display: none;
}

@media screen and (min-width: 600px) {
  .anime-index th:nth-child(4),
.anime-index td:nth-child(4) {
    display: table-cell;
  }
}
@media screen and (min-width: 1200px) {
  .anime-index th:nth-child(1),
.anime-index td:nth-child(1),
.anime-index th:nth-child(3),
.anime-index td:nth-child(3) {
    display: table-cell;
  }
}
.login a {
  display: block;
  text-align: right;
  padding-right: 3rem;
}

/*# sourceMappingURL=style.css.map */
